<div class="search-container">
  <div class="content">
    <input type="text" [(ngModel)]="username" placeholder="Buscar usuarios">
    <button (click)="search()"><i class="fas fa-search"></i></button>
  </div>
  <div *ngIf="showError" class="error-container">
    <app-error [message]="errorMessage"></app-error>
  </div>
</div>

<div *ngIf="users.length > 0" class="result-container">
<div>
  <h2>Resultados:</h2>
  <ul>
    <li *ngFor="let user of users">
      <a [routerLink]="['/profile', user.login]" (click)="navigateToProfile(user.login)">{{ user.login }}</a>
    </li>
  </ul>
</div>
  <canvas #chartCanvas id="chartCanvas"></canvas>
</div>
